<!--
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.jfif') }}">
    <meta charset="utf-8">
    <title>{{ user.name }}的观影清单</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <h2>
	    <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
	    {{ user.name }}的观影清单
	</h2>
    {# 使用 length 过滤器获取 movies 变量的长度 #}
    <p>{{ movies|length }} Titles</p>
    <ul class="movie-list">
        {% for movie in movies %}  {# 迭代 movies 变量 #}
        <li>{{ movie.title }} - {{ movie.year }}</li>  {# 等同于 movie['title'] #}
        {% endfor %}  {# 使用 endfor 标签结束 for 语句 #}
    </ul>
	<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}">
    <footer>
        <small>&copy; 2018 <a href="http://helloflask.com/tutorial">HelloFlask</a></small>
	</footer>
</body>
</html>
-->
{% extends 'base.html' %}

{% block content %}
<p class="zidingyi">{{ movies|length }} 条观影记录</p>
{% if current_user.is_authenticated %}
<form method="post">
    电影名 <input type="text" name="title" autocomplete="off" required>
	上映年份 <input type="text" name="year" autocomplete="off" required>
	<input class="btn" type="submit" name="add" value="添加">
</form>	
{% endif %}	
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            {% if current_user.is_authenticated %}
		    <a class="btn" href="{{ url_for('edit', movie_id=movie.id) }}">编辑</a>
			<form class="inline-form"	method="post"	action="{{	url_for('delete',	movie_id=movie.id)	}}">
			    <input class="btn"	type="submit"	name="delete"	value="删除"	onclick="return	confirm('你确定删除这条观影记录吗?')">
			</form>
			{% endif %}
            <a class="imdb" href="https://movie.douban.com/subject_search?search_text={{ movie.title }}" target="_blank" title="Find this movie on douban">豆瓣</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}
-->